{
  "settings": {
    "allowSendToSelf": false
  },
  "telegramApiToken": "<INSERT TOKEN HERE>",
  "mongoDb": {
    "db": "kwittbot",
    "host": "",
    "port": 27017,
    "username": "",
    "password": ""
  }
}
